

.darkener {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    padding-bottom: 1.5rem;
  }
  h2, p {
    margin-bottom: 1em;
  }
  
  h1, h2, strong {
    font-weight: 900;
  }
  
  .top-logo, .disclaimer, button {
    font-size: 0.625rem
  }
  
  .top-logo, .landing-page .page-subtitle {
    margin-bottom: 0;
  }
  
  .top-logo {
    text-transform: uppercase;
    color: var(--orange);
    font-weight: 900;
    letter-spacing: 1px;
    padding-top: 0.4rem;
    border-top: 7px solid var(--orange);
    border-image: linear-gradient(to left, var(--orange-gradient-1), var(--orange-gradient-2)) 1;
  }
  
  .disclaimer {
    letter-spacing: 1px;
  }
  
  .landing-page-title {
    font-size: 2.25rem;
    font-weight: 300;
    color: var(--white);
  }
  
  .page-subtitle {
    font-size: 1.3125rem;
    color: var(--orange);
    text-transform: uppercase;
  }
  
  .contact-form-title {
    margin-bottom: 0;
  }
  
  .contact-form p:first-of-type {
    margin-bottom: 2rem;
  }
  
  button {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--white);
  }
  
  @media screen and (min-width: 760px) {
    body {
      font-size: 1.125rem;
    }
    .landing-page-title {
    font-size: 3.5rem;
  }
    page-subtitle {
      font-size: 1.75rem;
    }
  }




.wrapper {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
}

.flex, .flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@media screen and (min-width: 520px) {
  .wrapper {
    max-width: 420px;
  }
}

@media screen and (min-width: 760px) {
  .wrapper {
    max-width: 740px;
  }
  .flex {
    flex-direction: row;
  }
  
  .landing-page, .contact-form {
    width: 50%;
  }
}

/* General styles */
main {
  margin: 0 auto;
}

.landing-page {
  background-color: var(--black);
  background-image: url("https://www.wallpaperflare.com/static/530/810/440/renault-r-s-18-f1-2018-formula-one-f1-cars-wallpaper.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  margin-bottom: 2rem;
}

.contact-form {
   line-height: 1.4;
}

@media screen and (min-width: 760px) {
  .landing-page {
      height: initial;
      min-height: 100vh;
      margin-bottom: 0;
   }
  
  .flex-column {
    justify-content: center;
  }
  
  .top-logo, .landing-page .page-subtitle {
    margin-bottom: auto;
  }
  
  .landing-page-title {
    margin: 2rem 0 0;
  }
  
  .landing-page .page-subtitle {
    margin-top: 1rem;
  }
}