.bg-image{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.total{
    padding-top: 130px;
}
.saeaudition{
color: white;
text-align: center;
font-size: 25px;
padding-left: 40px;
padding-bottom: 20px;
}
.bajaaudition{
color:white;
text-align: center;
font-size: 25px;


}
.audition_button{
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 30px;
    
   
    
}
.audition_button:hover{
    background-color: white;
    text-decoration: none;
    color: black;

    /* position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;   */
    border-radius: 30px;

      
}
.note1{
    color:white;
    font-size: 17px;
    padding-top: 30px;
    padding-bottom:30px ;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.note2{
    color:white;
    font-size: 17px;
    padding-top: 30px;
    padding-bottom:30px ;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and(max-width:970px)   {
    .saeaudition{
        
        font-size:20px;
        }
        .bajaaudition{
       
        font-size: 20px;
        }
    
}
@media only screen and(max-width:768px) {
    .bajaaudition p {
        top: 30px;
        /* margin-top: 5%; */
    }
    
}
