
.nav-item a {
    z-index: 1;
    background:#000;
  }
  .nav-item a:hover {
    background-color: rgba(240, 1, 1, 1);
  }

 .navbar-toggler{
   border: none !important;
 }

  .navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}



  
